/toja/job_application_database.db
/job_apply_launch.bat
/playground.py
/resume/
/.idea/
/toja/dev_job_application_database.db
/toja/job_apply_launch.bat
/toja/job_descriptions/
/toja_back_up.ffs_batch
/tests/test_job_application_database.db
/tests/test_job_descriptions/
