/toja/database/job_application_database.db
/job_apply_launch.bat
/todo.py
/resume/
/.idea/
/toja/dev_job_application_database.db
/toja/job_apply_launch.bat
/toja/job_descriptions/
/toja_back_up.ffs_batch
/tests/test_database/test_job_application_database.db
/tests/test_job_descriptions/
/project_notes/
/toja/database/toja_database.db
/toja/database/sample_database.db
